@model Project1403.Models.Admin


@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="w3-button w3-large" onclick="location.href='@Url.Action("Project", "Admin")'" style="background-color: cadetblue">Create a new Project</button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="w3-button w3-large" onclick="location.href='@Url.Action("SubContractor", "Admin")'" style="background-color: cadetblue">Add a new Subcontractor</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="w3-button w3-large" onclick="location.href='@Url.Action("ProjectList", "Admin")'" style="background-color: cadetblue">See all Projects</button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="w3-button w3-large btn-primary" onclick="location.href='@Url.Action("SubContractorList", "Admin")'" style="background-color: cadetblue">See all Subcontractors</button>
        </div>
    </div>

</div>

