@model Project1403.Models.Admin


@{
    ViewBag.Title = "Admin";
}



<div>
    <br />
    <h4>Update Projects</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-lg"  onclick="location.href='@Url.Action("Project", "Admin")'" style="background-color: cadetblue">Create a new Project</button>
        </div>
        <br />

        <div class="col-md-6">
            <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("SubContractor", "Admin")'" style="background-color: cadetblue">Add a new Subcontractor</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("ProjectList", "Admin")'" style="background-color: cadetblue">Manage Projects</button>
        </div>
        <br />
        <div class="col-lg-6">
            <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("SubContractorList", "Admin")'" style="background-color: cadetblue">Manage Subcontractors</button>
        </div>
    </div>

</div>

